/* Catch all rule  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background calor to body section */
body {
    background-color: #d9dcd6;
}

/* adds main rules to the header  */
.header {
    display: flex;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* rule for main header tittle */
.header h1 {
    /*display: inline-block;*/
    align-self: flex-start;
    font-size: 48px;
}

/* rule to add special color some of the letter in main header tittle   */
.header h1 .seo {
    color: #d9dcd6;
    
}

/*  main properties to the DIV section of the header  */
.header div {
    padding: 10px;
    margin: 0px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
    
}

/* removes style to the UL tag in hte header  */
.header div ul {
    list-style-type: none;
    
}

/* adds display inline block to structure of hte header  */
.header div ul li {
    display: inline-block;
    margin: 25px;
    
}

/* adds color to the reference links  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets paragraph font size  */
p {
    font-size: 16px;
}


/* Sets main image to the body section  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* pushes image to the left side for  a section  */
.float-left {
    float: left;
    margin-right: 25px;
}

/* pushes image to the right side for  a section  */
.float-right {
    float: right;
    margin-left: 25px;
}


/* Sets main content in body section and stacks up the description sections  */
.content {
    
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}

/* main rule for the benefits side section including background color  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* main rule to set color and margin for the fonts on hte benefit side section */
.benefit-lead, .benefit-brand, .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

/* rule to set properties for the headers used in the side benefits section */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3  {
    margin-bottom: 10px;
    text-align: center;
}

/* rules for the  images in hte benefit side section*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* rule to set the properties on the main content for the body */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 10%;
    padding: 50px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}

/* rule to set the properties for the images in the content body main section */
.search-engine-optimization img, .social-media-marketing img, .online-reputation-management img  {
    max-height: 150px;
    padding: 10px;
    
}

/* rule to set properties for the headers used in the content body main section */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2  {
    margin-bottom: 20px;
    font-size: 36px;
}


/* rule for the footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer header properties */
.footer h2 {
    font-size: 20px;
}


/* adds behavior for smaller screens */
@media only screen and (max-width: 820px)
      
{
    .benefits {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: left;
        width: 100%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #2589bd;
    }

    .hero {
        height: 400px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
    }
    
  }

/* adds behavior for very small screens */
  @media only screen and (max-width:768px)
      
{
    .benefits {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: left;
        width: 100%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #2589bd;
    }

    .hero {
        height: 200px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
    }


  }
